<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545556218005-i0jub09epdjdt7m5lj8h9qsm08sov8dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545556218005-i0jub09epdjdt7m5lj8h9qsm08sov8dj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>545556218005-jojnbevrcls8unkdotfs6blpupgl64ci.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9nP_JJt_aLAZVJ8B4IkCLSOi_0GO6uQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>545556218005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.direvin.flutterLoginTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-template-f44ed</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-template-f44ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545556218005:ios:2b83aaf007fe223e4c5b9c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-login-template-f44ed.firebaseio.com</string>
</dict>
</plist>